header {
	text-align: center;
	background-color: navy;
	color: lightgrey;
	width: 100%;
	top: 0;
	position: fixed;
	height: 75px;
	padding: 1px;
}
nav {
	text-align: center;
	margin-top: 80px;
	float: center;
	position: absolute;
}
table {
	width: 300px;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #DAC8B5;
}
footer {
	text-align: center;
	background-color: navy;
	color: lightgrey;
	width: 100%;
	position: fixed;
	bottom: 0; 
}
a:link {
	color: #002447;
	text-decoration: none;
}
a:visited {
	color: #375572;
}
a:hover {
	color: #00CC00;
}