header {
	text-align: center;
	background-color: navy;
	color: lightgrey;
	width: 100%;
	position: fixed;
	height: 30px;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #DAC8B5;
}
a:link {
	color: #002447;
	text-decoration: none;
}
a:visited {
	color: #375572;
}
a:hover {
	color: #00CC00;
}