#header {
	width: 100%;
	background-color: #19597A;
	position: fixed;
	height: 70px;
	text-align: center;
}
#pagetitle {
	color: #E6B88A;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}