#header {
	width: 100%;
	margin: auto;
	background: #003399;
	text-align: center;
	height: 4em;
	position: absolute;
}
#pagetitle {
	color: #CCCCCC;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3em;
	position: absolute;
}
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: justify;
	float: left;
	width: 60%;
	padding: 5px;
}
#sidebar {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	float: right;
	width: 15%;
	text-align: right;
	padding: 5px;
}