#header {
	width: 100%;
	background-color: #19597A;
	position: fixed;
	height: 100px;
	text-align: center;
}
#pagetitle {
	color: #CCCCCC;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 3em;
}
#footer {
	width: 100%;
	background-color: #19597A;
	position: fixed;
	height: 75px;
	text-align: center;
}